* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-navbar {
    height: 80px;
    width: 100%;
    flex-direction: row;
    top: 0;
    display: flex;
    border-radius: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    padding-top: -100px;
    z-index: 1000;
}

.head {
    margin: 50px 0 0 0;
    height: 50px;
}

.img {
    height: 70px;
    width: 100px;
    margin-inline-start: -1px;
    margin-top: -30px;
    border: 1px;
    border-radius: 60%;
    margin-bottom: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -30px 0 0 0;
    padding-bottom: 30px;

}

#Nav {
    font-size: 17px;
    margin: 70px 0 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
}

.title {
    position: relative;
    text-align: center;
    color: white;
    padding: 100px 20px;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title h1 {
    font-size: 10vh;
    text-shadow: 2px black;
    transition: ease 0.3s;
}

.title h1:hover {
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.paragraph-class {
    font-size: 20px;
}

.event-button {
    padding: 15px 15px;
    margin-bottom: 100px;
    text-align: center;
    margin-left: 400px;
    font-size: 20px;
    background-color: #ffffff;
    color: rgb(255, 126, 39);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    top: 60px;
}

.text h2 {
    font-size: 40px;
    font-weight: 650;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
    transition: color 0.3s ease;
}

.text-box h2:hover {
    color: #ffffff;
}

.container-row item {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.event-button:hover {
    background-color: #ff752b;
    color: #ffffff
}

.event-button:active {
    background-color: #e57813;
}

.container-information {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding: 20px;
    align-items: center;
    max-width: 1200px;
    background-image: url('./../img/backgound\ image.jpeg');
}

.fort-image img {
    width: 500px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 450px;
    border-radius: 1px;
}

.fort-info {
    width: 50%;
}

.fort-info h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.fort-info h2:hover {
    background-color: #e66019;
    color: #000000;
}

.fort-info p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rowitems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-image: url('./../img/background img.jpeg');
}

.text-box {
    line-height: 2;
    text-align: center;
    transition: color 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    padding: 10px 20px;
    border-radius: 8px; 
    background-color:rgba(255, 68, 0, 0.901); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.text-box::before {
    content: ''; 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.text-box::after {
    content: ''; 
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}


.container-box {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px 10px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
    margin-top: 20px;
    background-color: #ffffff;
}

.container-image img {
    height: 250px;
    width: 90%;
    padding-top: 10px;
    margin-bottom: 15px;
}

.container-box h4 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 100px;
}

.container-box h4:hover {
    color: #ff6600;
}

.container-box p {
    font-size: 16px;
    color: #717070;
}

.container-box:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 10px rgb(255, 102, 0);
    border: all 0.2s ease;
    border-radius: 5px;
}

.read-more-button {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 10px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(255, 123, 0);
    background-color: #f8f8f8;
    border: 2px solid #f08247;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover
{
    background-color: #f4821e;
    color: #ffffff;
    transition: 0.3s;
}
.h1-fort {
    margin-top: 60px;
    font-size: 32px;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    padding: 10px 20px;
    border-radius: 8px; 
    background-color: rgba(255, 68, 0, 0.901); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.h1-fort::before {
    content: ''; 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.h1-fort::after {
    content: ''; 
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
  .container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 30px;
    gap: 25px;
     box-shadow: solid #000000;
     width: 100%;
     cursor: pointer;
  }

  .fort {
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(50% - 20px); 
    max-width: 200px;
    cursor: pointer;
  }

  .fort img {
    width: 100%; 
    height: 180px; 
    transition: transform 0.3s ease;
    border: 2px solid #000000; 
    cursor: pointer;
  }

  .fort img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px 3px rgb(255, 102, 0);
    border: 2px solid #000000;
  }

  .fort-name {
    margin-top: 8px;
    font-weight: 900;
    font-size: 25px;
    color: #ff5100;
  }

  .table-body{
    font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250vh;
            background-size: cover;
            background-position: center;
}
table {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #ffffff;
    color: rgb(255, 123, 0);
    text-transform: uppercase;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    transform: scale(0.1.);
 background-color:#fc9753;
}


td {
    color: black;
}

caption {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgba(236, 100, 50, 0.901); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

caption::before {
    content: ''; 
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

caption::after {
    content: ''; 
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 150px; 
    height: 150px; 
    background-image: url('./../img/rajmudra.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 600px) {
    .container-navbar {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .title h1 {
        font-size: 8vh;
    }

    .container-information {
        flex-direction: column;
        align-items: center;
    }

    .rowitems {
        grid-template-columns: 1fr 1fr;
    }

    .fort-info, .fort-image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container-navbar {
        flex-direction: column;
    }

    .title h1 {
        font-size: 6vh;
    }

    .event-button {
        width: 100%;
        font-size: 18px;
    }

    .container-box {
        width: 100%;
        padding: 15px;
    }

    .rowitems {
        grid-template-columns: 1fr;
    }

    .fort img {
        height: 120px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 5vh;
    }

    .container-box {
        width: 100%;
        padding: 15px;
    }

    .event-button {
        width: 100%;
        font-size: 16px;
    }

    .fort img {
        height: 100px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    .fort {
        flex: 1 1 100%;
    }
}
.footer_sub
{
   display: flex;
   flex-wrap: wrap;
    height: 350px;
    width: 100%;
    background-color: #232946;
    margin-top: 100px;
 }
 .footer_1
 {
     height: 300px;
     width: 440px;
     flex-direction: row;
     display: flex;
     flex-wrap: wrap;
     margin: 20px;
    
}
#footer_img
{
        height: 90px;
        width: 150px;
        cursor: pointer;
        margin-top: 20px;
 }
 #footer_name
 {
        color:white;
        font-size: 21px;
        margin-inline-start: -20px;
        margin-top: 40px;
 }
 #footer_text
 {
        color: #fff;
        font-size: 16px;
        margin-left: 20px;
        margin-inline-start: 40px;
        padding: 10px;
        margin-top: -40px;
    }
    #footer_add
    {
        height: 40px;
        width: 40px;
        margin-left: 20px;
        margin-inline-start: 40px;
        background-color: white;
        border-radius: 50%;
        border: 3px solid white;
    }
    #link
    {
        font-size: 30px;
        color: white;
        margin-left: 130px;
        margin-top: 30px;
    }
    #link_1{
        margin-top: 80px;
        font-size: 20px;
        color: white;
        margin-inline-start: -100px;
    }
    #link_2{
        margin-top: 100px;
        font-size: 20px;
        color: white;
        margin-inline-start: -110px;
        padding: 10px;
    }
    #link_3{
        margin-top: 130px;
        font-size: 20px;
        color: white;
        margin-inline-start: -110px;
        padding: 10px;
    }
    #link_4{
        margin-top: 160px;
        font-size: 20px;
        color: white;
        margin-inline-start: -110px;
        padding: 10px;
    }
    #link_5{
        margin-top: 190px;
        font-size: 20px;
        color: white;
        margin-inline-start: -110px;
        padding: 10px;
    }
    #location
    {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: 100px;
    font-size: 20px;
    margin-inline-start: -230px;
    padding: 10px;
    margin-top: 90px;
    }
    #footer_text1
    {
        color: #fff;
        font-size: 18px;
        margin-left: 20px;
        margin-inline-start: 80px;
        padding: 10px;
        margin-top: -110px;
    }
    #footer_text2
    {
        color: #fff;
        font-size: 18px;
        margin-left: 20px;
        margin-inline-start: -40px;
        padding: 30px;
        margin-top: -90px;
    }
    #footer_text3
    {
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
        margin-inline-start: -40px;
        padding: 30px;
        margin-top: -30px;
    } 
    #location1
    {
    height: 40px;
    width: 40px;
    margin: 29px;
    background-color: white;
    border-radius: 50%;
    margin-top: -70px;
    font-size: 20px;
    margin-inline-start: 40px;
    padding: 10px;
    }
    #location2
    {
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: -10px;
    font-size: 20px;
    margin-inline-start: -200px;
    padding: 10px;
    }
    .stick
    {
   height: 50px;
   position: sticky;
   top:100px;
   margin-left: 95%;
   cursor: pointer;
   }
    
   
    @media screen and (min-width:760px){
        .images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
               }
      }