.des{
    font-size: 20px;
    text-align: justify;
}
.image{
    display: flex;
    flex-direction: row;
 justify-content: space-evenly;
}

.whole_page{
    padding: 20px;
    background-color: #66ff99;
    
}
.fort{
    margin: 10px;
    display:block;
    height: 300px;
    width: 450px;;
    border: black 1px solid;
    
}

.fort:hover{
    box-shadow: -2px 3px 10px 8px darkgreen;
}
