.des{
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}
.image{
    display: flex;
    flex-direction: row;
 justify-content: space-evenly;
}

.whole_page{
    margin-top: 140px;
    padding: 20px;
    background-image: url(./../img/background1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
   
}
.fort{
    margin: 10px;
    display:block;
    height: 300px;
    width: 450px;;
    border: black 1px solid;
    
}

.fort:hover{
    box-shadow: -2px 3px 10px 8px darkgreen;
}
.book{
    border-radius: 20px;
    font-size: 35px;
    background-color:#ff8e3c;
    border: 2px solid #e68a00;
    color: #eff0f3;
   margin: 30px auto;
   padding:5px;
   display: block;
   align-items: center;
   
}
.book:hover{
    background-color:#e68a00;
}
.video_container{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.video{
    border-radius: 20px;
}
.video:hover{
    box-shadow: 10px 10px 5px 1px #a6a6a6;
}

@media screen and (min-width:760px){
    .images{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-evenly;
height: 400px;
           }
  }